@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    font-size: 22px;
}

/* banner started */

.banner {
    position: relative;
}

#nav-position {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #3daf7c3b;
    z-index: 2;
}

.nav-item a {
    display: inline-block;
    margin-left: 11px !important;
    font-size: 14px;
}

.banner img {
    width: 100%;
    height: 110vh;
    background-position: center;
    background-size: contain;
    position: relative;
}


.banner-text {
position: absolute;
  max-width: 1200px;
  margin: auto;
  right: 0;
  left: 0%;
  top: 55%;
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-end;
  color: white;
}

.font-p {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 60px;
    font-weight: bold;
    color: rgb(117, 207, 117);
}

/* banner end  */

/* Local artist started */

.container-position {
    position: relative;
    /* right: -10%; */
}

/* .img2 {
    display: inline-block;
    margin-right: 20px;
} */

.img1 {
    position: absolute;
    top: 20%;
    z-index: 2;
    right: 28%;
}

.heading-h2 {
    font-size: 47px;
    padding: 15px 0;
}

.font-fancy {
    font-family: 'Dancing Script', cursive;
    font-size: 30px
}

/* Local artist end  */

.projecttext-padding {
    padding: 0 100px;
}

.btn-project {
    background: none;
    border: 1px solid green;
    padding: 10px 30px;
    margin: 15px 0;
    display: inline-block;
    color: green;
}

.bg-client {
    background-color: rgb(199, 221, 205);
}

.qualified-img {
    position: relative;
    top: -40px;
    /* max-width: 70%; */

}

.img-client img{
    max-width: 100%;
    padding: 30px 33px;
    /* padding-top: 30px; */
}

#qualified {
    position: relative;
}

.qualified-text {
    position: absolute;
    top: 30%;
    right: 0;
}

.banner2-img {
    width: 100%;
}

.p-size {
    font-size: 22px;
}

/* .gallery1 {
    background-color: rgb(195, 208, 195);
} */

.btn-project span {
    color: #198754;
}

.btn-project {
    padding: 10px 30px;
    background-color: var(--green);
    font-size: 18px;
    border: 1px solid #198754;
    text-align: center;
    width: 200px;
    transition: all 0.2s;
    cursor: pointer;
    margin: 20px 0;
    display: inline-block;
}

  
.btn-project span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}
  
.btn-project span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.2s;
}
  
.btn-project:hover span {
    padding-right: 25px;
    color: #198754;
}
  
.btn-project:hover span:after {
    opacity: 1;
    right: 0;
}

.bg-gallery1 {
    background-color: rgb(80 148 80 / 48%);
}

.gallery1 {
    padding: 40px 0;
    font-size: 30px;
  }

  .gallery1 a {
    color: #198754;
    background-color: rgb(229, 222, 222);
    padding: 8px 25px;
    display: inline-block;
    margin-top: 10px;
  }

  .gallery1 p {
    font-size: 26px;
    color: #198754;
  }

.h2-fontsize {
    font-size: 35px !important;
    padding: 10px 0;
}

input {
    border: none;
    outline: none;
    padding: 10px;
    width: 50%;
    background: none;
    border-bottom: 1px solid green;
}

label {
    padding: 10px 30px !important;
    background-color: rgb(195, 208, 195);
    border-bottom: 1px solid green;
    cursor: pointer;
}
